{% extends "cms.html" %}

{% block main %}

<div class="row">
    <form id="new_quiz" action="/admin/add_school/{{region.key.id()}}" class="col s12" enctype="multipart/form-data" method="post">

      <h3>Add a School to {{region.name}}</h3>

      <div class="row">
        <div class="col s12 center">
          <a href="/admin/add_region">Back - Add Region</a>
        </div>
      </div>

    	{% if school %}

    	<div class="row">
	        <div class="input-field col s12">
	          <input id="name" type="text" name="name" class="validate" value="{{school.name}}">
	          <label for="name" class="active">Name</label>
	        </div>
    	</div>

      <div class="row">
        <div class="col s12">
            <div class="card">
              <div class="card-image sponsor-image-preview cetner">
                <img src="{{school.image}}">
              </div>
            </div>
        </div>
        <div class="col s12">
          Replace School Image ( a square jpg file works best, consider using <a href="https://tinyjpg.com/">tinyjpg</a> )
        </div>
        <!-- <div class="col s12 center">
          <img src="{{school.image}}" style="max-height: 100px;">
        </div> -->
          <div class="file-field input-field col s12">
          <input class="file-path validate" type="text"/>
          <div class="btn">
            <span>File</span>
            <input type="file" name="image"/>
          </div>
        </div>
    </div>

    <input type="hidden" name="school_id" value="{{school.key.id()}}">

		{% else %}

		<div class="row">
        <div class="input-field col s12">
          <input id="name" type="text" name="name" class="validate">
          <label for="name">Name</label>
        </div>
  	</div>

    <div class="row">
        <div class="col s12">
          School Image ( a square jpg file works best, consider using <a href="https://tinyjpg.com/">tinyjpg</a> )
        </div>
          <div class="file-field input-field col s12">
          <input class="file-path validate" type="text"/>
          <div class="btn">
            <span>File</span>
            <input type="file" name="image"/>
          </div>
        </div>
    </div>

		{% endif %}

      	<div class="row">
	        <div class="input-field col s12">
	        	<button class="btn btn-large waves-effect waves-light" type="submit" name="action">
	        		<div class="loader-icon hide transition">
                <i class="fa fa-spinner fa-spin"></i>
              </div>
              Save
			  	</button>
	        </div>
      	</div>

    </form>
  </div>

  {% if schools %}
  <table class="striped">
    <thead>
      <tr>
          <th data-field="id">School</th>
          <th data-field="add"></th>
          <th data-field="edit"></th>
          <th data-field="delete"></th>
      </tr>
    </thead>

    <tbody>
      {% for s in schools %}
      <tr>
        <td>{{s.name}}</td>
        <td><a href="/admin/add_podcast/{{s.key.id()}}" class="waves-effect waves-light btn">Add Podcast</a></td>
        <td>
          <a href="/admin/add_school/{{region.key.id()}}?school_id={{s.key.id()}}" class="waves-effect waves-light btn">Edit</a>
        </td>
        <td>
          <form action="/admin/delete_school" method="post" class="inline-form center">
            <input type="hidden" name="delete_id" value="{{s.key.id()}}">
            <button class="btn waves-effect waves-light" type="submit">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

{% endblock %}
